<title>Best Breakfast Restraunts</title>
<% include ../partials/header %>
<div id="content">
  <div id="title">
    <h1>Home Page</h1>
  </div>
  <div id="info">
    <h3>This is a site that is dedicated to Andrew Mitchell's Top 3 Best Breakfast Places</h2>
  <div>
</div>
